name: PGATS - Automação de Testes Web

on:
  workflow_dispatch:

jobs:
  e2e-tests:

    runs-on: ubuntu-latest

    steps:
    #clone projeto
    - uses: actions/checkout@v4

    #conversão node instalado
    - name: Node version
      run: node --version

    - name: Instalando dependencias
      run: npm install

    #executa os testes do Cypress (com relatório mochawesome)
    - name: Executando os testes E2E
      run: npx cypress run --reporter mochawesome --reporter-options reportDir=cypress/reports/mochawesome,overwrite=false,html=false,json=true

    #gerar o relatório HTML final (usando mochawesome-merge + marge)
    - name: Gerar relatório HTML do Mochawesome
      run: |
        npx mochawesome-merge cypress/reports/mochawesome/*.json > cypress/reports/report.json
        npx marge cypress/reports/report.json --reportDir cypress/reports/html

    #upload do relatório como artefato do GitHub Actions
    - name: Publicar relatório Mochawesome
      uses: actions/upload-artifact@v4
      with:
        name: mochawesome-report
        path: cypress/reports/html

  
